
pandas/datas/crimes/data_00.csv
pandas/datas/crimes/data_01.csv
pandas/datas/crimes/data_02.csv
pandas/datas/crimes/data_03.csv
pandas/datas/crimes/data_04.csv
pandas/datas/crimes/data_05.csv
pandas/datas/crimes/data_06.csv
pandas/datas/crimes/data_07.csv
pandas/datas/crimes/data_08.csv
pandas/datas/crimes/data_09.csv
pandas/datas/crimes/data_10.csv
pandas/datas/crimes/data_11.csv
pandas/datas/crimes/data_12.csv
pandas/datas/crimes/data_13.csv
pandas/datas/crimes/data_14.csv
pandas/datas/crimes/data_15.csv
pandas/datas/crimes/data_16.csv
pandas/datas/crimes/data_17.csv
pandas/datas/crimes/data_18.csv
pandas/datas/crimes/data_19.csv
pandas/datas/crimes/data_20.csv
pandas/datas/crimes/data_21.csv
pandas/datas/crimes/data_22.csv
pandas/datas/crimes/data_23.csv
pandas/datas/crimes/data_24.csv
pandas/datas/crimes/data_25.csv
pandas/datas/crimes/data_26.csv
pandas/datas/Crimes_-_2001_to_Present.csv
pandas/datas/gender_submission.csv
pandas/datas/submission_pred.csv
pandas/datas/test.csv
titanic.zip
titanic/gender_submission.csv
titanic/test.csv
titanic/train.csv
